body{
  height: 100vh;
  background: url('assets/uploadbackground.png') center/cover no-repeat;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}
.header{
  color: rgb(214, 240, 226);
  width: 100%;
  background: linear-gradient(to right,rgba(92, 247, 195, 0.129), rgba(230, 65, 169, 0.427), rgba(92, 247, 195, 0.129));
  position: relative;
  top: -3rem;
  text-align: center;
  height: 5rem;
}


.maincontent{
  width: 45%;
  /* top: -5rem; */
  height: 20rem;
  background-color: #ec8a8dc1;
  position: relative;
  bottom: 4rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 2rem;
}



.footer{
  margin-top: 5rem;
  position: absolute;
  bottom: 0rem;
  background-color: rgba(255, 241, 241, 0.545);
  width: 100%;
  text-align: center;
}
